<div class="row justify-content-center align-items-center" style="
    height: 90vh">
  <div class="col-10">
    <h1 class="text-center mb-4">Create a profile</h1>
    <%= render "form" %>
    <div class="text-center">
      <%= link_to "Back to profile", my_profile_profiles_path, class: "btn btn-purple" %>
    </div>
  </div>
</div>
