// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;



$primary-color: #1E2248;
$secondary: #D4D4FF;
$ptext: #9AA6B5;
$textdarker: #1E2248;
$buttoncolortextpurple: #6168BD;
$lighter-background: #F5F7F8;
$darker-background: #F2F3F6;
$outline: #DFE4EF;
