.events-divider {
  border-bottom: 3px solid #DFE4EF;
  opacity: o.7;
  padding-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.events-titles {
  font: $body-font;
  font-size: 20px;
  color: #1E2248;
  opacity: 0.75;
}
