.home-title {
  font: $headers-font;
  font-size: 50px;
  color: #1E2248;
}

.home-sml-header {
  font: $headers-font;
  font-size: 15px;
  color: #1E2248;
  opacity: 0.75;
}

.home-body {
  font: $body-font;
  font-size: 15px;
  color: #1E2248;
}

.home-body-bold {
  font: $body-font;
  font-size: 15px;
  color: #1E2248;
  font-weight: bold;
}

.home-event-card-title {
  font: $body-font;
  font-size: 20px;
  color: #1E2248;
}

.home-event-card-body {
  font: $body-font;
  font-size: 15px;
  color: #1E2248;
}

.home-divider {
  border-bottom: 3px solid #DFE4EF;
  opacity: o.7;
  padding-bottom: 20px;
  padding-top: 10px;
}

.divider-events {
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: rgba(255, 255, 255, 1);
}

// .home-div {
//   //padding-top: 100px;
// }

.home-card {
  overflow: hidden;
  background: rgba(255, 255, 255, 0.238);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.dropdown-toggle::after {
  content: none;
}

.dropdown-menu {
  background-color: #1e2248b2;
  border-radius: 8px;
  border-color: #DFE4EF;
}

.dropdown-item {
  color: #F5F7F8;
  font-family: $body-font;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
