
 <div class="d-flex justify-content-start ms-3 fa-xl">
      <%= link_to root_path do %>
        <i class="fa-solid fa-arrow-left mt-3" style="color: #9AA6B5;"></i>
      <% end %>
  </div>
<div>
<h1>My groups</h1>
<% @groups.each do |group| %>
  <p><%= link_to group.name, group_path(group.id) %></p>
<% end %>
</div>
