<div class="mapboxgl-popup-content">
  <h2 class="map-sml-header"><%= restaurant.name %></h2>
  <p class="map-body mb-3"><%= restaurant.address %></p>
  <button class="btn-map" data-restaurant-id="<%= restaurant.id %>" data-action="click->map#selectRestaurant">Let's go to this one!</button>
</div>
