<div class="d-flex justify-content-center align-items-center text-center" style="height: 100vh; background-image: url('<%= asset_path('food.png') %>'); background-size: cover; background-position: center;">
  <div class="d-flex flex-column align-items-center ">
    <h1 class="bigh1 mb-5 pb-5">FoodBuddy</h1>
    <div>
      <%= link_to "Create your event", dashboard_path, class: "btn btn-green btn-lg mr-3 mb-3 p-3 rounded-pill" %>
    </div>
  </div>
</div>
