
<div class="d-flex justify-content-center align-items-center text-center" style="height: 100vh;
  background-size: cover; background-position: center;">
  <div class="d-flex flex-column align-items-center">
    <h1 class="bigh1 mb-4 pb-5">FoodBuddy</h1>
    <div>
      <%= link_to "Let's get started!", dashboard_path, class: "btn btn-light-purple btn-lg mr-3 mb-3 rounded-pill" %>
    </div>
  </div>
</div>
