.btn-green{
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 100px;
  background: #0CAF7B;
  width: 250px;
  height: 49px;
}

.btn-purple {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 100px;
  background: #D4D4FF;
  width: 250px;
  height: 49px;
}

.btn {
  display: flex;
  color: white;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

.btn-purple-text {
  color: #6168BD;
  font-weight: bolder;
}

.btn-back {
  color: white;
  font-weight: bolder;
}
