.btn-green{
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: #0CAF7B;
  width: 250px;
}
.btn-purple {
  color: $buttoncolortextpurple;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: #D4D4FF;
  width: 250px;
}
