.btn-light-purple {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 100px;
  background: #8288CB;
  width: 200px;
  height: 49px;
}

.btn-purple {
  margin-top: 40px;
  margin-bottom: 10px;
  border-radius: 100px;
  background: #1E2248;
  width: 200px;
  height: 49px;
}

.btn {
  display: flex;
  color: white;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

.btn-purple-text {
  color: #6168BD;
  font-weight: bolder;
}

.btn-back {
  color: white;
  font-weight: bolder;
  margin-top: 10px;
}

.btn-add-small {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 100px;
  background: #1E2248;
  width: 60px;
  height: 40px;
  font-size: small;
}

.chat-btn {
  margin-bottom: 10px;
  background: #1E2248;
  width: 60px;
  height: 40px;
  font-size: small;
  position: relative;
  margin-left: 100px;
}

#search-button {
  background-color: #1E2248;
  border-color: transparent;
  border-radius: 8px;
  height: 41px;
  width: 41px;
}

.search-group-field {
  background-color: white;
  border-color: #DFE4EF;
  border-radius: 4px;
  border-width: 1px;
  font-size: 18px;
  width: 250px;
  height: 41px;
  margin-bottom: 17px;
  margin-top: 25px;
  border-style: outset;
}
