.card-event {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin-bottom: 20px;
  border-radius: 12px;
}

.card-event img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-event h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
    display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-event p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-event .card-event-infos {
  padding: 16px;
}

.card-content {
  display: flex;
  align-items: center;
}

.icon-link {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration-line: none;
}

.card-event-continue {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color:#1E2248;
}
.border.border-info.d-flex.align-items-center{
  border-radius: 12px;
  width: -webkit-fill-available;

  h6{
    font-size:0.75rem
  }
 }

 .card-event-restritions{
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin-bottom: 20px;
  border-radius: 12px;
 }
