.card-location {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 12px;
  margin-bottom: 20px;
}

.card-location > img {
  height: 200px;
  width: 100%;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  object-fit: cover;
}

.card-location h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-location p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-location .card-location-infos {
  padding: 16px;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-location-infos .card-location-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-location-infos .flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-location-infos h2 {
  margin-right: 30px;
}

.event-details .group-link {
  text-decoration: none;
}

.event-details a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

