.bigh1{
  font-size: 50px ;
  color: $primary-color;
}

.logo {
  font-size: 20px;
  opacity: 0.8;
  color: $primary-color;
}

.sml-header {
  font: $headers-font;
  font-size: 15px;
  color: #1E2248;
}

.body-font {
  font: $body-font;
  font-size: 15px;
  color: #1E2248;
}

.chat-title {
  font: $headers-font;
  font-size: 20px;
  color: #1E2248;
}


.chat-message-text-1 {
  font-family: $body-font;
  font-size: 19px;
  color: #1E2248;
}

.chat-message-text {
  font-family: $body-font;
  font-size: 19px;
}

.text-dark-purple {
  color: #1E2248;
}

.add-user-text {
  font-size: larger;
}
