.form-font {
  font-size: 18px;
}
.form-control {
  background-color: white;
  border-color: #DFE4EF;
  border-radius: 4px;
  font-size: 18px;
}

.form-select {
  background-color: white;
  border-color: #DFE4EF;
  border-radius: 4px;
  font-size: 18px;
}
