.form-font {
  font-size: 18px;
}
.form-control {
  background-color: white;
  border-color: #DFE4EF;
  border-radius: 4px;
  font-size: 18px;
}

.form-select {
  background-color: white;
  border-color: #DFE4EF;
  border-radius: 4px;
  font-size: 18px;
  color: #1E2248;
}

.form-check-input[type="radio"] {
  border-color: #1E2248;
  background-color: white;
}

.form-check-input:checked[type="radio"] {
  background-color: #6168BD;
}

.row {
  margin-right: 0px;
}

.was-validated .form-check-input:valid ~ .form-check-label,
.form-check-input.is-valid ~ .form-check-label {
  color: #1E2248;
}

.col-form-label {
  margin-top: 20px;
}

.chat-input {
  border-radius: 100px;
  width: 100%;
  height: 49px;
  font-size: 18px;
  color: #1E2248;
  position: relative;
  // margin-top: 500px;
}

.chat-input-margin {
  margin-bottom:auto;
}

.chat-message-1 {
  background-color: #dfe4ef76;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 7px;
}

.chat-message-2 {
  background-color: #8288cb62;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 7px;
}

.chat-title-card {
  background-color: #dfe4ef79;
  border: 2px solid #8288cb72;
  border-radius: 10px;
  padding: 5px;
}

.chat-title-card-2{
  background-color: #dfe4ef;
  border: 2px solid #8288cb72;
  border-radius: 10px;
  padding: 5px;
}

.chat-room {
  margin-bottom: 54px;
}
