#event_group_id {
  background-color: white;
  border-color: #DFE4EF;
  border-radius: 4px;
  font-size: 18px;
  width: 325px;
  height: 41px;
  margin-bottom: 17px;
}

.label-group-select {
  margin-bottom: 0.5rem,
}
