.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}

.bg-select {
  background-color: #429390 !important;

  .btn-filter-text {
    color:white;
  }
}
