.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 10vh;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}

.bg-select {
  background-color: #429390 !important;

  .btn-filter-text {
    color:white;
  }
}

.page-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  }

  .my-footer {
    position: sticky;
    bottom: 0;
    width: 100%;
  }

  #main-content {
    min-height: 90vh;
  }

  p {
    margin: 0;
  }
