  <div class="d-flex justify-content-start ms-3 fa-xl">
    <%= link_to my_profile_profiles_path do %>
      <i class="fa-solid fa-arrow-left mt-3" style="color: #9AA6B5;"></i>
    <% end %>
  </div>
<div class="vh-100 d-flex flex-column justify-content-center align-items-center">
  <div class="col-10">
    <h1 class="text-center mb-4">Nutrition Preferences</h1>
    <div class="card-event-restritions d-flex justify-content-center">
      <ul class="list-unstyled">
        <% @categories.each do |category| %>
          <li class="mt-2"><h6><%= category.name %></h6></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
